/*Paneles------------------------------------------*/
#pane{
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-border-color: rgb(117, 117, 117);
    -fx-background-color: rgb(245, 245, 245);
}
#paneProduct{
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-border-color: rgb(117, 117, 117);
    -fx-background-color: rgb(245, 245, 245);
}
#backPane{
    /*-fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #3ebfbb, #ffffff);*/
    /*-fx-background-color: #EED09D;*/
    -fx-background-color: #AF794D;
}
#backPaneWhite{
    /*-fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #3ebfbb, #ffffff);*/
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}
#panePrimary{
    -fx-background-color: #3EC1BC;
    -fx-background-radius: 10px;
}
#panePrimaryDeg{
    -fx-background-color: #3ec1bd9e;
    -fx-background-radius: 10px;
}
#paneBackDeg{
    /*-fx-background-color: #eed09d84;*/
    -fx-background-color: #E1CDBC;
    -fx-background-radius: 10px;
}
#menuPane{
    /*-fx-background-color: #eed09d84;*/
    -fx-background-color: #E1CDBC;
    /* -fx-background-radius: 10px; */
}
#top{
    /*-fx-background-color: #eed09d84;*/
    -fx-background-color: #B98A63;
    /* -fx-background-radius: 10px; */
}
#paneAccent{
    -fx-border-color: #d581ee;
    -fx-background-color: #C963E8;
    -fx-background-radius: 1.5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
}
#white{
    -fx-background-color: #F5EEE9;
    -fx-background-radius: 10px;
}
#black{
    -fx-background-color: #160F0A;
    -fx-background-radius: 5px;
}
#border{
    -fx-background-color: #F5EEE9;
    -fx-background-radius: 10px;
}
/*Label------------------------------------------*/
.label{
    -fx-font-size:16;
    -fx-font-family: "Segoe";
    -fx-font-style: normal;
}
#labelProductosXL{
    -fx-font-size:12;
    -fx-font-family: "Segoe";
    -fx-font-style: normal;
}
#labelSubtotalProducto{
    -fx-font-size:20;
    -fx-font-family: "Segoe";
    -fx-font-weight: normal;
}
#labelTitle{
    -fx-font-size:28;
    -fx-font-family: "Segoe";
    -fx-font-weight: bold;
    -fx-text-fill: #ffd166;
}
#labelSmallTitle{
    -fx-font-size:24;
    -fx-font-family: "Segoe";
    -fx-font-weight: normal;
}
#labelMenu{
    -fx-font-size:24;
    -fx-font-family: "Segoe";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
#labelIVA{
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;
}
/*Botones------------------------------------------*/
.button{
    -fx-background-radius: 15px;
    -fx-font-size:14;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: #4DAF79;
    -fx-background-insets: 0, 1;
}
.button:hover{
    -fx-font-style: normal;
    -fx-background-color: #419165;
}
#btnBig{
    -fx-font-size:20;
}
#btnBig:hover{
    -fx-font-style: normal;
    -fx-background-color: #419165;
}
#btnBigClient{
    -fx-background-radius: 0px;
    -fx-font-size:18;
    -fx-font-weight: normal;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: #EBDDD3;
}
#btnBigClient:hover{
    -fx-background-color: #E1CDBC;
}
#btnGenerico{
    -fx-background-radius: 8 0 0 0;
    -fx-font-size:18;
    -fx-font-weight: normal;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: #EBDDD3;
}
#btnGenerico:hover{
    -fx-background-color: #E1CDBC;
}
#btnGenerico{
    -fx-background-radius: 8 0 0 0;
    -fx-font-size:18;
    -fx-font-weight: normal;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: #EBDDD3;
}
#btnGenerico:hover{
    -fx-background-color: #E1CDBC;
}
/* .button:focused{
    -fx-background-color: #0093EF, #FFFFFF;
}
.button:focused:hover{
    -fx-text-fill: rgb(0,0,0);
    -fx-font-style: normal;
    -fx-background-color: rgba(0,147,239,0.5);
} */
#salir{
    -fx-background-radius: 15px;
    -fx-font-size:20;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: #FF605C;
    -fx-background-insets: 0, 1;
}
#salir:hover{
    -fx-font-style: normal;
    -fx-background-color: #da5250;
}
/*text fields------------------------------------------*/
.text-field {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-font-size:14;
    -fx-font-family: "Helvetica";
    -fx-background-color: #FFFFFF, #FFFFFF;
}
.text-field:focused {
    -fx-border-color: #0093EF;
}
/*Combo box------------------------------------------*/
.combo-box-base{
    -fx-background-color: #FFFFFF, #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
    -fx-font-size:16;
    -fx-font-style: normal;
}
.combo-box-base:focused{
    -fx-font-size:16;
    -fx-font-style: normal;
    -fx-background-color: #0093EF, #FFFFFF;
}
/*Check box------------------------------------------*/
.check-box{
    -fx-font-size:14;
    -fx-font-style: normal;
    -fx-font-color: rgb(0,0,0);    
}
.check-box:disabled{
    -fx-opacity: 1;
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-radius: 0; 
}
.check-box .mark {
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #0093EF;
}
.check-box:disabled:selected .mark {
    -fx-background-color: white;
}
.check-box:disabled:selected .box {
    -fx-background-color: #202020;
}

/*Date------------------------------------------*/
#dpDate{
    -fx-font-size:16;
    -fx-font-style: normal;
}

/*scroll------------------------------------------*/
.scroll-pane{
    -fx-border-radius: 10 10 10 10, 10 10 10 10;
    -fx-border-width: 2px;
    -fx-background-radius: 10 10 10 10, 10 10 10 10;
    -fx-background-width: 0px;
    -fx-background: #FFFFFF;
   -fx-border-color: #FFFFFF;
}
/* .scroll-pane .corner{
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
} */
/*scroll vertical------------------------------------------*/
.scroll-bar {
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 2em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #dddddd;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #9e9e9e;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar{
   -fx-background-color: transparent;
   -fx-background-radius: 2em;
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
   -fx-background-color: transparent;
}
/**/
.text-area{
    -fx-font-size: 16;
}